
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: 'milkshake';
  src:  url('../src/fonts/Milkshake.ttf') format('truetype'),
        url('../src/fonts/Milkshake.otf') format('opentype');
}


$desktop: 1170px;
$mobile: 807px;

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

.grid-33.centered.signin {

.row div {
  display: inline-block;
  width: 25%;
}
.row div input {
  width: 98% !important;
}
}

.formSearch h1 {
  text-align:center;
  font-family: 'milkshake'
}

form.search-form {
  max-width: 1280px;
  display: block;
  margin: 0 auto;



  input {
    display: block;
    width: 50%;
    /* text-align: center; */
    margin: 0 auto;
    padding: 10px;
    border: 1px solid;
    margin-top: 5px;
    border-radius: 6px;
    background: lightblue;
    
}
input::placeholder {
  color: #000;
}

select.wouldNever {
  display: block;
  width: 50%;
  /* text-align: center; */
  margin: 0 auto;
  padding: 10px;
  border: 1px solid;
  margin-top: 5px;
  border-radius: 6px;
  background: lightblue;

}
select.wouldNever:hover {
  cursor:pointer;
}
button#submit {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  padding: 12px;
  background: blue;
  color: #fff;
  border: 1px solid;
  border-radius: 7px;
}
button#submit:hover {
  cursor:pointer;
}

}



.grid-33.centered.signin {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 14px;

h1 {
  font-family: 'milkshake';
}

  input:first-child {
    margin-top: 10px;
  }
 .button {
  background:#038;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  padding: 15px 30px;
  border: 0;
  margin-right: 10px;
  border-radius: 8px;
  font-weight: bold;
  display: inline-block;
  box-sizing: border-box;
  transition: background 0.2s;
  text-decoration: none;
}
.button:hover {
  cursor: pointer;
}
  
input, select {
width: 100%;
color: #332a40;
border-radius: 8px;
border: 1px solid #ccc4d8;
padding: 15px;
margin-bottom: 15px;
outline: none;
box-sizing: border-box;
font-size: 16px;
width:20%;
}
}



.header {
  background: #038;


 a:nth-child(2) {
    margin-left: 15PX;
 }

.header nav a {
    text-decoration: none;
}

.header--logo {
  font-family: 'milkshake';
  color: #fff;
  display:inline-block;
}

.bounds {
  padding: 10px 30px;
}
nav {
  color: #fff;
  float:right;
  margin-top: 10px;
}
nav a {
  color: #fff;
}
}



.results {
  max-width: 1280px;
  margin: 0px auto;
  align-content: center;

.personTitle {
  display: inline-block;
  align-items: center;
  flex: 0 0 100%;
  margin-bottom: 10px;
  margin-left: 5px;
  width: 32%;
  position: relative;
}
.personTile_persimImg {
  width: 200px;
  height: 200px;
  background-size: cover;

  border-radius: 50%;
}
.bioInfo {
  color: #038;
  font-weight: bold;
  -ms-flex-align: center;
  z-index: 99999999999;
  display: block;
  position: absolute;
  left: 50%;
  top: 32%;
}
}

.profileBlock {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 60%;

 p {
  display: inline-block;
  width: 24%;
  text-align: left;
}

img {
  display: block;
  clear: both;
  margin: 0 auto;
  margin-bottom: 22px;
}

 a {
  display: block;
  clear: both;
  margin-top: 20px;
}
}

.persons {
  max-width: 1280px;
  margin: 0px auto;
  min-height: 900px;
  overflow: visible;
  align-items: center;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  @include desktop {
    height: auto;
  }

  .personTitle {
    display: inline-flex;
    background-color: lavender;
    align-items: center;
    flex: 0 0 49%;
    /* flex-wrap: wrap; */
    margin-bottom: 10px;
    margin-left: 5px;
    height: 200px;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    @include desktop {
      flex: 0 0 70%;
      margin: 0 auto;
      margin-bottom: 10px;
    }
    @include mobile {
      flex: 0 0 100% !important;
    }
  }



.personTile_persimImg {
  width: 200px;
  height: 200px;
  background-size: cover;
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
  /*display: inline-flex;*/
}
.bioInfo {
  color: #038;
  font-weight: bold;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
}
.perstonTile_name:before {
  content: 'Name:';
  margin-right: 5px;
}
.perstonTile_age:before {
  content: 'Age:';
  margin-right: 5px;
}
*:before {
  color: cornflowerblue;
}
.perstonTile_movie:before {
  content: 'Fav Movie:';
  margin-right: 5px;
}

.perstonTile_song:before {
  content: 'Fav Song:';
  margin-right: 5px;
}
.personTitle.judy .personTile_persimImg {
 background-image: url('../src/images/judy.jpg');
}
.personTitle.jared .personTile_persimImg {
  background-image: url('../src/images/jared.jpg');
 }
 .personTitle.cindy .personTile_persimImg {
  background-image: url('../src/images/cindy.jpg');
 }
 .personTitle.mark .personTile_persimImg {
  background-image: url('../src/images/mark.jpg');
 }
 .personTitle.liz .personTile_persimImg {
  background-image: url('../src/images/liz.jpg');
 }
 .personTitle.mike .personTile_persimImg {
  background-image: url('../src/images/mike.jpg');
 }
}